@model Wildcat.App.ViewModels.SHCA.Grinders.SHCAGrindersContactTimeViewModel
@{
    ViewData["Title"] = "Contact Time";
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="breadcrumb-item" href="/Home/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-item" href="/Engineering/SHCAGrinders/Index">Grinders</a>
            </li>
            <li class="breadcrumb-item active">Contact Time</li>
        </ol>
    </div>
</h4>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <h6 class="card-header">
                Grinder Data
            </h6>
            <div class="card-body">
                <form id="submitform">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="form-label">Select Grinder</label>
                            @Html.DropDownListFor(x => x.GrindersSelect, Model.GrindersSelect, new { @id = "GrindersSelect", @class = "custom-select", @style = "btn-default" })
                        </div>
                    </div>
                </form>
                <br />
                <div class="card-datatable table-responsive" id="tableholder">
                    <table class="datatables-demo table table-striped table-bordered display nowrap" id="m_table_2">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Value</th>
                                <th>Machine</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @*@foreach (var item in Model.DTO.OrderByDescending(x => x.Timestamp))
                            {
                                <tr>
                                    <td data-sort="YYYYMMDD">@item.Timestamp</td>
                                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function datatable() {
        var selectedGrinder = $("#GrindersSelect").val();

        $('#m_table_2').dataTable({
            "processing": true,
            "serverSide": true,
            //"search":
            //"info": true,
            //"stateSave": true,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax": {
                "url": "/Engineering/SHCAGrinders/AjaxGetJsonContactTimeData",
                "data": function (d) {
                    d.selectedGrinder = $("#GrindersSelect").val();
                },
                "type": "POST"
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "Timestamp", "orderable": true },
                { "data": "Value", "orderable": true },
                { "data": "Property", "orderable": false }
            ],
            "order": [[0, "desc"]]
        });

    }

    $("#GrindersSelect").change(function () {
        $.blockUI({
            message: '<div class="sk-folding-cube sk-primary"><div class="sk-cube1 sk-cube"></div><div class="sk-cube2 sk-cube"></div><div class="sk-cube4 sk-cube"></div><div class="sk-cube3 sk-cube"></div></div><h5 style="color: #444">LOADING...</h5>',
            css: {
                backgroundColor: 'transparent',
                border: '0',
                zIndex: 9999999
            },
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.8,
                zIndex: 9999990
            }
        });

        var table = $('#m_table_2').DataTable();
        var selectedGrinder = $("#GrindersSelect").val();

        table.ajax.reload();

        $.unblockUI();

        return false;
    });

    $(document).ready(function () {
        datatable()
    });
</script>