@model Wildcat.App.ViewModels.Engineering.PressData

<link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
<link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css">
<link rel="stylesheet" href="~/assets/vendor/libs/timepicker/timepicker.css">
<link rel="stylesheet" href="~/assets/vendor/libs/minicolors/minicolors.css">

<div class="container-fluid flex-grow-1 container-p-y">
    <div>
        <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-item" href="/Home/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-item">Engineering</a>
                </li>
                <li class="breadcrumb-item active">
                    Press Data
                </li>
            </ol>
        </h4>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card" style="max-width: 45rem;">
                <div class="card-body">
                    <form id="DownloadParameters">
                        <input type="hidden" id="HiddenDatabasesSelected" asp-for="SelectedDatabases" />
                        <table border="0" cellpadding="5" cellspacing="0" style="width: 600px">
                            <tr>
                                <td><h5 class="card-title">Time Frame</h5></td>
                                <td rowspan="2">@Model.ListBox("ddlDatabase", Model.DataBaseOptions, "Data Source", Model.SelectedDatabases, 100)</td>
                            </tr>
                            <tr>
                                <td><input type="text" style="width: 350px" class="form-control" id="daterange-2" placeholder="Time Frame" asp-for="TimeSpanAsString"></td>
                            </tr>  
                        </table>
                    </form>
                    <table border="0" cellpadding="5" cellspacing="0" style="width: 600px">
                        <tr>
                            <td style="width: 458px">&nbsp;</td>
                            <td><button id="Button1" type="submit" class="btn btn-primary">Download</button>
                            <td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Libs -->
<script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/assets/vendor/libs/moment/moment.js"></script>
<script src="~/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
<script src="~/assets/vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
<script src="~/assets/vendor/libs/timepicker/timepicker.js"></script>
<script src="~/assets/vendor/libs/minicolors/minicolors.js"></script>

<script type="text/javascript" src="~/scripts/Engineering/PressData.js"></script>
<script type="text/javascript" src="~/assets/js/forms_pickers.js"></script>

