@model Wildcat.App.ViewModels.PCC03.Integrations.ExceptionObjectViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-row">
    <div class="form-group col-md-12">
        <label class="form-label">Exepction Object:</label>
        @Html.TextAreaFor(x => x.json, new { @class = "form-control", @rows = 15, @id = "EditReason" })
    </div>
</div>
