@model List<Wildcat.App.ViewModels.MenuLocationAccess>
<div class="form-row">
    <ul>
        @foreach (var locations in Model)
        {
            <li>
                @{var idd = $"{locations.Menu}|{locations.Location}";}
                <input id="@idd" class="form-check-input" type="checkbox" value="@locations.Menu"@(locations.MenuAccess ? "checked" : "") onclick="changeMenuLocationAccess(this)">
                <div class="form-check-label">@locations.Location</div>
            </li>
        }
    </ul>
</div>
