
@model Wildcat.App.ViewModels.Saws.MultModel

<div class="card card-hover mb-4">
    <div class="card-body">
        <h5 class="card-title">Confirm Piece Deletion</h5>
        <p class="card-text">
            <div class="row">
                <div class="col-md-auto col-lg-6">
                    <table cellpadding="4">
                        <tr><td style="width: 150px">Heat Number</td><td class="text-right"><strong>@Model.Piece.Billet.HeatNumber</strong></td><td style="width: 50px" class="text-left"></td></tr>
                        <tr><td style="width: 150px">Billet</td><td class="text-right"><strong>@Model.Billet.BilletNumber</strong></td><td style="width: 50px" class="text-left"></td></tr>

                    </table>
                </div>
                <div class="col-md-auto col-lg-6">
                    <table cellpadding="4">
                        <tr><td style="width: 150px">Serial Number</td><td class="text-right"><strong>@Model.Piece.MultSerialNumber</strong></td><td style="width: 50px" class="text-left"></td></tr>
                        <tr><td style="width: 150px">Actual Weight</td><td class="text-right"><strong>@Model.Piece.ActualWeight</strong></td><td style="width: 50px" class="text-left">lbs</td></tr>
                    </table>
                </div>
            </div>
        </p>
        <br />
        <p class="card-text">

            <input id="HiddenPieceID" type="hidden" asp-for="Piece.PieceId" />

            <div class="demo-inline-spacing mt-sm-3 text-right">
                <input type="button" id="ConfirmDelete" value="Delete" class="btn btn-primary" />
                <input type="button" id="CancelEdit" value="Cancel" class="btn btn-secondary" />
            </div>
        </p>
    </div>
</div>

<script type="text/javascript" src="~/scripts/Saws/edit_saw_piece.js"></script>
